# ESP-IDF build output
controller/build/
controller/.cache/
controller/sdkconfig
controller/dependencies.lock
controller/managed_components/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store
controller/sdkconfig.old
controller/test/plug_fsm/test_plug_fsm
controller/test/plug_fsm/test_plug_fsm.dSYM/
